In [1]:
from DbConnector import DbConnector
from part2 import Database 
from tabulate import tabulate

# Set up the program
from dotenv import load_dotenv
import os

load_dotenv()

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')

program = DbConnector(USER=user, PASSWORD=password)
db = Database()

Using user:  root
Connected to: 8.0.29
You are connected to the database: ('assignment2',)
-----------------------------------------------

Using user:  root
Connected to: 8.0.29
You are connected to the database: ('assignment2',)
-----------------------------------------------

### Task 1

How many users, activities and trackpoints are there in the dataset (after it is inserted into the database)

In [10]:
# Get the number of Users
users = db.get_table_size("User")
activities = db.get_table_size("Activity")
trackpoints = db.get_table_size("TrackPoint")
print("Number of Users, Activities and TrackPoints")
print(tabulate([["Users", "Activities", "TrackPoints"], [users[0], activities[0], trackpoints[0]]], headers="firstrow"))

Number of Users, Activities and TrackPoints
  Users    Activities    TrackPoints
-------  ------------  -------------
    182          7877        5355109

### Task2
Find the average, maximum and minimum number of trackpoints per user

##### Average

In [11]:
# Get the average number of trackpoints per user
users, columns = db.find_avg_trackpoints()
print("Average trackpoints per user")
print(tabulate(users, headers=columns))

Average trackpoints per user
  user_id    AVG(trackpoints)
---------  ------------------
      000            670.871
      001            824.965
      002            924.801
      003            807.387
      004            761.858
      005            587.548
      006            801.125
      007            758.275
      008           1376
      009           1218.32
      010           1107.5
      011            451.756
      012            629.783
      013           1388.3
      014            905.936
      015            806.583
      016            690.222
      017            868.245
      018            540.795
      019            372.291
      020            704.638
      021            475
      022            900.695
      023            979.312
      024            860.408
      025            606.295
      026           1034.71
      027           2037
      028           1195.36
      029           1713.17
      030            871.352
      031            489.5
      032           1190.43
      033            735.25
      034            558.678
      035           1449.71
      036            803.75
      037            890.977
      038           1071.51
      039            756.51
      040            953.55
      041            797.416
      042            555.946
      043            795.094
      044            628.492
      045            752.125
      046            703.807
      047             65.8333
      048           1118
      050            760.833
      051            231.3
      052            177
      054           1093
      055            132.526
      056             39.7333
      057            127
      058             38.5
      060              8
      061            140
      062            439.054
      063            709.857
      064            695
      065           1114.94
      066            889.375
      067           1729
      069             12
      070           1185
      071            446.894
      072             40.5
      073            197.302
      074            894.941
      075            264
      076             77.3333
      077           1048
      078            304.667
      079            488.826
      080             43.5
      081            540.571
      082            694.5
      083            505.742
      084            638.583
      085            367.882
      086             63.6667
      087             19.8
      089             74.75
      090             40
      091              9.5
      092             53
      093            290.227
      094            127
      095            971.121
      097             27.7778
      098            118
      099             79.1875
      101            323.667
      102            148.692
      103            709.362
      107             81
      108             14.6667
      109            148.75
      111             29
      112            351.028
      113            605.193
      115            895.111
      117             24
      119            987.469
      121           1073.4
      122           1321.17
      123           1438
      125            659.25
      126            437.182
      127            335
      128            474.102
      130            771.714
      131            858.4
      132           1125.33
      133            765.75
      134             55.44
      135            976.5
      136             15.3333
      138             98.5
      139             21.6667
      140            489.319
      142            708.514
      144            187.5
      145           1075.2
      146             27.2
      150            127
      151           1322
      152            782
      153            374.6
      155            844.5
      157            192.308
      158            429.286
      159            335.143
      161             26
      162             30.8182
      163             95.2727
      164             40.8571
      165           1160.6
      166            170
      167            617.25
      168           1537.19
      169           1245.97
      171             35.4
      172            758.278
      173            161.667
      175              7
      176             44
      178             84
      180            293.25
      181             45.8

##### Maximum

In [12]:
# Get the maximum number of trackpoints per user
users, columns = db.find_max_trackpoints()
print("Maximum trackpoints per user")
print(tabulate(users, headers=columns))

Maximum trackpoints per user
  user_id    MAX(trackpoints)
---------  ------------------
      000                2359
      001                2472
      002                2438
      003                2485
      004                2482
      005                2058
      006                2478
      007                2228
      008                2499
      009                2396
      010                1964
      011                2306
      012                2277
      013                2486
      014                2499
      015                2411
      016                2360
      017                2471
      018                2245
      019                2276
      020                2201
      021                 475
      022                2421
      023                2215
      024                2377
      025                2464
      026                2396
      027                2480
      028                2477
      029                2440
      030                2454
      031                1254
      032                2358
      033                1205
      034                2448
      035                2493
      036                2299
      037                2421
      038                2500
      039                2464
      040                2434
      041                2491
      042                2350
      043                2005
      044                2206
      045                1932
      046                2457
      047                 227
      048                1118
      050                2484
      051                 951
      052                 177
      054                1527
      055                 670
      056                 165
      057                 510
      058                 104
      060                   8
      061                 443
      062                2447
      063                1986
      064                 695
      065                2336
      066                2009
      067                1729
      069                  12
      070                2486
      071                1840
      072                  69
      073                1214
      074                2314
      075                 264
      076                 105
      077                1728
      078                1118
      079                 897
      080                  47
      081                1047
      082                 800
      083                2444
      084                2158
      085                 993
      086                  72
      087                  36
      089                 357
      090                 132
      091                  11
      092                  54
      093                1595
      094                 510
      095                1849
      097                  52
      098                 118
      099                 648
      101                 617
      102                 859
      103                1942
      107                  81
      108                  20
      109                 307
      111                  38
      112                1155
      113                 785
      115                2262
      117                  24
      119                2442
      121                2457
      122                2328
      123                2160
      125                1047
      126                1629
      127                 565
      128                2453
      130                2106
      131                2003
      132                2119
      133                1390
      134                 599
      135                2391
      136                  18
      138                 118
      139                  47
      140                2472
      142                2482
      144                 357
      145                2227
      146                  49
      150                 510
      151                1322
      152                2069
      153                1084
      155                2153
      157                 806
      158                1832
      159                 725
      161                  26
      162                 110
      163                 672
      164                  64
      165                2463
      166                 631
      167                1331
      168                2495
      169                2325
      171                  97
      172                2456
      173                 468
      175                   7
      176                 114
      178                  84
      180                1024
      181                 110

##### Minimum

In [13]:
# Get the minimum number of trackpoints per user
users, columns = db.find_min_trackpoints()
print("Minimum trackpoints per user")
print(tabulate(users, headers=columns))

Minimum trackpoints per user
  user_id    MIN(trackpoints)
---------  ------------------
      000                   5
      001                  33
      002                   4
      003                   3
      004                   4
      005                   5
      006                  14
      007                   6
      008                 165
      009                 134
      010                 663
      011                   3
      012                  64
      013                  13
      014                   3
      015                  22
      016                   7
      017                   4
      018                   3
      019                  11
      020                  22
      021                 475
      022                  15
      023                  31
      024                   4
      025                   3
      026                   9
      027                1760
      028                  32
      029                   4
      030                   9
      031                  23
      032                  62
      033                  39
      034                   4
      035                 200
      036                  13
      037                  14
      038                   8
      039                   7
      040                  39
      041                   3
      042                   4
      043                  26
      044                   3
      045                  71
      046                 175
      047                   4
      048                1118
      050                   3
      051                   5
      052                 177
      054                 659
      055                   5
      056                  16
      057                   9
      058                   8
      060                   8
      061                  10
      062                   4
      063                  13
      064                 695
      065                 149
      066                  17
      067                1729
      069                  12
      070                  13
      071                  56
      072                  12
      073                   3
      074                   3
      075                 264
      076                  42
      077                 437
      078                  12
      079                 193
      080                  40
      081                  56
      082                 589
      083                   5
      084                 116
      085                  10
      086                  47
      087                   6
      089                  15
      090                   4
      091                   8
      092                  52
      093                   9
      094                   9
      095                  12
      097                  16
      098                 118
      099                   3
      101                 143
      102                   6
      103                   5
      107                  81
      108                  10
      109                  26
      111                  24
      112                  46
      113                 271
      115                  29
      117                  24
      119                  26
      121                 175
      122                 161
      123                  15
      125                 106
      126                  39
      127                  90
      128                   9
      130                 212
      131                 150
      132                  59
      133                 100
      134                   4
      135                  75
      136                  13
      138                  79
      139                  10
      140                   3
      142                   4
      144                  18
      145                 128
      146                   8
      150                   9
      151                1322
      152                  66
      153                  32
      155                  28
      157                  18
      158                   6
      159                  63
      161                  26
      162                   4
      163                  15
      164                  11
      165                  32
      166                   7
      167                  63
      168                  12
      169                 384
      171                   3
      172                   5
      173                  14
      175                   7
      176                   8
      178                  84
      180                  15
      181                   3

### Task 3

Find the top 15 users with the highest number of activities.

In [7]:
query = """
    SELECT RANK() OVER (
        ORDER BY COUNT(*) DESC
    ) Top, user_id, COUNT(*) as num_of_activities FROM Activity GROUP BY user_id ORDER BY COUNT(*) DESC LIMIT 15
    """
db.cursor.execute(query)
rows = db.cursor.fetchall()
columns = db.cursor.column_names
print("Top 15 users with the highest number of activities")
print(tabulate(rows, headers=columns))

Top 15 users with the highest number of activities
  Top    user_id    num_of_activities
-----  ---------  -------------------
    1        025                  715
    2        128                  519
    3        062                  406
    4        041                  399
    5        004                  346
    6        140                  345
    7        017                  265
    8        003                  261
    9        014                  236
   10        030                  210
   11        011                  201
   12        039                  198
   13        034                  180
   14        000                  155
   15        002                  146

### Task 4

Find all users who have taken a bus.

In [2]:
# Get the users who have taken the bus
users, columns = db.get_user_taken_bus()
print("All users who have taken a bus")
print(tabulate(users, headers=columns))

All users who have taken a bus
  user_id
---------
      010
      052
      062
      073
      081
      084
      085
      091
      092
      112
      125
      128
      175

### Task 5

List the top 10 users by their amount of different transportation modes.

In [3]:
users, columns = db.find_top10_transportations_users()
print("Top 10 users by their amount of different transportation modes")
print(tabulate(users, headers=columns))

Top 10 users by their amount of different transportation modes
  user_id    DifferentTransportation
---------  -------------------------
      128                          9
      062                          7
      085                          4
      084                          3
      058                          3
      163                          3
      078                          3
      081                          3
      112                          3
      065                          2

### Task 6

Find activities that are registered multiple times. You should find the query even
if it gives zero result.

In [4]:
query = """
    SELECT a.id FROM Activity AS a WHERE EXISTS 
        (SELECT b.id FROM Activity AS b WHERE a.user_id = b.user_id 
        AND a.transportation_mode = b.transportation_mode AND 
        a.start_date_time = b.start_date_time AND a.end_date_time = b.end_date_time 
        AND a.id != b.id)
    """
program.cursor.execute(query)
rows = program.cursor.fetchall()
print("Find activities that are registered multiple times:\n", rows)

Find activities that are registered multiple times:
 []

### Task 7

a) Find the number of users that have started an activity in one day and ended the activity the next day.

In [17]:
num_users = db.get_num_user_activity_over_a_day()

print("Number of users with activity that ends the next day")
print(tabulate([["Number of users"], [num_users[0]]], headers="firstrow", tablefmt="fancy_grid"))

Number of users with activity that ends the next day
╒═══════════════════╕
│   Number of users │
╞═══════════════════╡
│                66 │
╘═══════════════════╛

b) List the transportation mode, user id and duration for these activities.

In [18]:
users_info = db.get_user_activity_over_a_day()

table = [["User", "Transportation Mode", "Duration"]]
content = [[user[0], user[1], user[2]] for user in users_info]
table.extend(content)

print(tabulate(table, headers="firstrow", tablefmt="fancy_grid"))

╒════════╤═══════════════════════╤════════════╕
│   User │ Transportation Mode   │ Duration   │
╞════════╪═══════════════════════╪════════════╡
│    020 │ bike                  │ 10:10:01   │
├────────┼───────────────────────┼────────────┤
│    021 │ walk                  │ 3:57:13    │
├────────┼───────────────────────┼────────────┤
│    058 │ car                   │ 0:36:12    │
├────────┼───────────────────────┼────────────┤
│    062 │ walk                  │ 1:23:44    │
├────────┼───────────────────────┼────────────┤
│    085 │ bus                   │ 0:58:25    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:28:04    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:02:50    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:00:56    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:05:10    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:23:14    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 0:54:09    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:08:43    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:09:36    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:03:47    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:01:42    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 0:55:50    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:24:08    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:17:13    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:01:33    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:03:29    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 0:58:19    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 7:46:29    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:05:39    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 0:57:48    │
├────────┼───────────────────────┼────────────┤
│    115 │ car                   │ 1:08:14    │
├────────┼───────────────────────┼────────────┤
│    126 │ walk                  │ 0:07:20    │
├────────┼───────────────────────┼────────────┤
│    128 │ car                   │ 1:04:19    │
├────────┼───────────────────────┼────────────┤
│    128 │ car                   │ 0:44:11    │
├────────┼───────────────────────┼────────────┤
│    128 │ bus                   │ 0:58:44    │
├────────┼───────────────────────┼────────────┤
│    128 │ subway                │ 0:30:57    │
├────────┼───────────────────────┼────────────┤
│    128 │ car                   │ 0:33:08    │
├────────┼───────────────────────┼────────────┤
│    128 │ car                   │ 1:40:04    │
├────────┼───────────────────────┼────────────┤
│    128 │ airplane              │ 5:31:49    │
├────────┼───────────────────────┼────────────┤
│    128 │ subway                │ 0:27:26    │
├────────┼───────────────────────┼────────────┤
│    163 │ bike                  │ 0:11:18    │
╘════════╧═══════════════════════╧════════════╛

### Task 9

Find the top 15 users who have gained the most altitude meters.

In [19]:
query = "SELECT user_id, sum(activity_altitude)*0.304 as altitude_in_meters FROM Activity JOIN (SELECT activity_id, SUM(difference) AS activity_altitude FROM (SELECT activity_id, altitude - LAG(altitude) OVER (PARTITION BY activity_id ORDER BY date_time) AS difference FROM TrackPoint) AS altitude_difference WHERE difference > 0 GROUP BY activity_id) AS difference_table ON Activity.id = difference_table.activity_id GROUP BY user_id ORDER BY altitude_in_meters DESC LIMIT 15"
program.cursor.execute(query)
rows = program.cursor.fetchall()
text = "Find the top 15 users who have gained the most altitude meters\n"
for i in rows:
    text += f"User: {i[0]}, Altitude in meters: {i[1]}\n"
print(text)

### Task 10

Find the users that have traveled the longest total distance in one day for each
transportation mode.

In [ ]:
users = db.get_user_with_max_distance()

table = [["User", "Transportation mode", "Distance (km)"]]
table.extend(users)

print(tabulate(table, headers="firstrow", tablefmt="fancy_grid"))

╒════════╤═══════════════════════╤═════════════════╕
│   User │ Transportation mode   │   Distance (km) │
╞════════╪═══════════════════════╪═════════════════╡
│    175 │ bus                   │       1.80771   │
├────────┼───────────────────────┼─────────────────┤
│    163 │ taxi                  │      11.3794    │
├────────┼───────────────────────┼─────────────────┤
│    167 │ walk                  │       0.455136  │
├────────┼───────────────────────┼─────────────────┤
│    167 │ bike                  │       4.0598    │
├────────┼───────────────────────┼─────────────────┤
│    128 │ car                   │      18.5745    │
├────────┼───────────────────────┼─────────────────┤
│    062 │ run                   │       0.0332532 │
├────────┼───────────────────────┼─────────────────┤
│    128 │ train                 │      19.0923    │
├────────┼───────────────────────┼─────────────────┤
│    128 │ subway                │      10.8537    │
├────────┼───────────────────────┼─────────────────┤
│    128 │ airplane              │    4391.42      │
├────────┼───────────────────────┼─────────────────┤
│    128 │ boat                  │      65.5548    │
╘════════╧═══════════════════════╧═════════════════╛

### Task 12

Find all the users who have registered transportation_mode and their most used transportation_mode

Comment on implementation: Although with this dataset, does not need to join User, however in cases where user does not have labels, but still has some activities in Activity with transportation_mode then a join is necessary. For users that have the same number of activities tagged on multiple transportation mode, we've decided to take the first transportation mode in alphabetical order.

In [ ]:
query = "SELECT user_id, transportation_mode FROM ( SELECT user_id, transportation_mode, ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY COUNT(*) DESC, transportation_mode ASC) AS rownum FROM Activity JOIN User ON Activity.user_id = User.id WHERE transportation_mode IS NOT NULL AND User.has_labels=TRUE GROUP BY user_id, transportation_mode) AS activity_grouped WHERE rownum=1 ORDER BY user_id"
program.cursor.execute(query)
rows = program.cursor.fetchall()
text = "Find all the users who have registered transportation_mode and their most used transportation_mode\n"
for row in rows:
    text += f"User {row[0]}, Transportation mode: {row[1]}\n"
print(text)

### End

In [ ]:
# Closing the connection
program.close_connection()