In [5]:
from DbConnector import DbConnector
from part2 import Database 
from tabulate import tabulate

# Set up the program
from dotenv import load_dotenv
import os

load_dotenv()

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')

program = DbConnector(USER=user, PASSWORD=password)
db = Database()

ERROR: Failed to connect to db: 2003 (HY000): Can't connect to MySQL server on 'tdt4225-35.idi.ntnu.no:3306' (10060)

AttributeError: 'DbConnector' object has no attribute 'db_connection'

### User table

In [ ]:
columns_query ="""
SELECT COLUMN_NAME
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_SCHEMA = 'assignment2' AND TABLE_NAME = 'User'
  ORDER BY ORDINAL_POSITION;
""" 
db.cursor.execute(columns_query)
columns = db.cursor.fetchall()
query = """SELECT * FROM User LIMIT 10"""
db.cursor.execute(query)
rows = db.cursor.fetchall()
print(tabulate(rows , headers=[ i[0] for i in columns]))

### Activity table

In [ ]:
columns_query ="""
SELECT COLUMN_NAME
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_SCHEMA = 'assignment2' AND TABLE_NAME = 'Activity'
  ORDER BY ORDINAL_POSITION;
""" 
db.cursor.execute(columns_query)
columns = db.cursor.fetchall()
query = """SELECT * FROM Activity LIMIT 10"""
db.cursor.execute(query)
rows = db.cursor.fetchall()
print(tabulate(rows , headers=[ i[0] for i in columns]))

### TrackPoint table

In [ ]:
columns_query ="""
SELECT COLUMN_NAME
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_SCHEMA = 'assignment2' AND TABLE_NAME = 'TrackPoint'
  ORDER BY ORDINAL_POSITION;
""" 
db.cursor.execute(columns_query)
columns = db.cursor.fetchall()
query = """SELECT * FROM TrackPoint LIMIT 10"""
db.cursor.execute(query)
rows = db.cursor.fetchall()
print(tabulate(rows , headers=[ i[0] for i in columns]))